body {
    width: 320px;
}
.box {
    margin: 20px;
    border: 2px solid #ff6600;
}
p, h1 {
    font-size: 20px;
    margin: 20px 12px;
}
a{
    text-decoration: none;
    color: blueviolet;
    padding: 8px;
    border: 2px solid;
    margin-top: 300px;
    font-family: sans-serif;
    font-size: 20px;
}
a:hover {
    color: crimson;
    background-color: black;
}
.one {
    margin-bottom: 30px;
}