body {
    width: 295px;
}
.box {
    margin: 0px 20px;
    border: 2px solid #ff6600;
    padding-bottom: 18px;
}
p, h1 {
    font-size: 20px;
    margin: 20px 0px;
}
a{
    text-decoration: none;
    color: blueviolet;
    padding: 8px;
    border: 2px solid;
    margin-top: 300px;
    font-family: sans-serif;
    font-size: 20px;
}
a:hover {
    color: crimson;
    background-color: black;
}
div {
    margin-bottom: 30px;
}